@page "/createuser"
@using Chat.Bot.UI.Model
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Text
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
<h3>
    Add User
</h3>

<form>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td>
                    <label for="UName" class="control-label">
                        User Name
                    </label>
                </td>
                <td>
                    <input for="UName" class="form-control"
                           @bind="@user.Name" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="UPassword" class="control-label">
                        Password
                    </label>
                </td>
                <td>
                    <InputText type="password" placeholder="Password" @bind-Value="@user.Password" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="UConfirm" class="control-label">
                        Password Confirmation
                    </label>
                </td>
                <td>
                    <InputText type="password" placeholder="Password" @bind-Value="@user.ConfirmPassword" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="UEmail" class="control-label">
                        Email
                    </label>
                </td>
                <td>
                    <input for="UEmail" class="form-control"
                           @bind="@user.Email" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <br />
                    <button type="button" class="btn btn-primary"
                            @onclick="() => Create()">
                        &#8195;Save&#8195;
                    </button>&#8194;
                    <button type="button" class="btn btn-warning"
                            @onclick="() => Cancel()">
                        &#8194;&#8201;Cancel&#8201;&#8194;
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

@code {
    RegisterModel user = new RegisterModel();
    private bool ShowErrors;
    private IEnumerable<string> Errors;

    protected async Task Create()
    {
        ShowErrors = false;

        var result = await AuthService.Register(user);

        if (result.Successful)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
        //    Errors = result.Errors;
        //    ShowErrors = true;
        }
    }
    void Cancel() => NavigationManager.NavigateTo("/");
}